<div class="city">
	<p class="city_header">
		<i class="city_left" ui-sref='home'></i>
		<span class="city_left_span">城市选择</span>
	</p>
	<h2 class="posi">当前定位城市</h2>
	<p class="posi_city">
		<i class="posi_city_posi"></i>
		<span class="posi_city_span posi_city_span2" ui-sref='home'></span>
	</p>
	<h2 class="posi">已开通城市</h2>
	<p class="posi_city posi_city1">
		<span class="posi_city_span posi_city_span1" ng-click="city($event)"  ui-sref='home'>北京</span>
	</p>
	<p class="posi_city posi_city1" >
		<span class="posi_city_span posi_city_span1" ng-click="city($event)"  ui-sref='home'>上海</span>
	</p>
	<p class="posi_city posi_city1">
		<span class="posi_city_span posi_city_span1" ng-click="city($event)"  ui-sref='home'>深圳</span>
	</p>
</div>