*{
	padding: 0;margin: 0;
}
body{
	font-size: 125%;
	background: #FFFFFF;
}
.index_header{
	display: none;
}
.ui-footer{
	display: none;
}
/*自如家修*/
#ziruRepair{

}
/*头部*/
.ziruRepair_head{
	width: 100%;
	height: 4rem;
	display: flex;
	justify-content:space-between;
	align-items:center;
	border-bottom:1px solid #E6E6E6;
}
.ziruRepair_head span{
	font-size: 1.7rem;
}
.ziruRepair_head span:nth-of-type(1){
	margin-left: 1.5rem;
	color: #FF8600;
}
.ziruRepair_head span:nth-of-type(2){
	margin-left: 3rem;

}
.ziruRepair_head span:nth-of-type(3){
	margin-right: 1rem;
	color: #FF8600;
}
/*大图片*/
.ziruR_main_img{
	width: 100%;
	height: 20rem;
}
.ziruR_main_img img{
	width: 100%;
	height: 20rem;
}
/**/
.pointVisible{
    width: 0.5rem;
    height: 1.4rem;
    background: #FF8503;
    position: absolute;
    top:1.8rem;
    left: 0.2rem;
    border-radius: 0.4rem;
    /*visibility: visible;*/
}
